torch==2.5.1
torchaudio==2.5.1
opencv-python-headless==4.10.0.84
numpy==1.23.5
scipy
librosa==0.9.1
soundfile>=0.12.1
audioread
resampy>=0.4.2
pyworld==0.3.2
praat-parselmouth>=0.4.2

numba==0.57.1
llvmlite==0.40.1

fairseq==0.12.2
faiss-cpu==1.7.3

torchcrepe==0.0.20
torchfcpe

ffmpeg-python>=0.2.0
ffmpy==0.3.1
av

scikit-learn
tensorboard
tensorboardX

matplotlib
Pillow

tqdm
joblib

Cython

Jinja2
Markdown
PyYAML
json5

fsspec
absl-py

fastapi
uvicorn

httpx
python-dotenv
colorama
tabulate
Werkzeug
sympy